﻿@model Sport.Domain.Models.Stage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stage</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Champ.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Champ.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parent.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoundCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoundCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MigrationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MigrationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
