﻿@model IEnumerable<Sport.Domain.Models.Stage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Champ.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoundCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MigrationId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Champ.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent.Name)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Name)*@
            @Html.ActionLink(item.Name, "Index", "Group", new { stageId = item.Id.ToString() }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoundCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MigrationId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
