﻿@model Sport.Web.ResultTracking.Models.FootballInjuryViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div id="addEvent">
    <h2>Add red card</h2>

  
    @using (Ajax.BeginForm("SaveInjury", "Fixture", new AjaxOptions
    {
        UpdateTargetId = "result",
        OnSuccess = "SaveFixtureEventSuccess()"
    }))
    {
        <table>
            <tr>
                <td>
                    @Html.HiddenFor(x => x.FixtureParticipantId)
                    @Html.LabelFor(x => x.PlayerId)
                </td>

                <td>
                    @Html.DropDownListFor(x => x.PlayerId, Model.Players)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(x => x.Minute)
                </td>

                <td>
                    @Html.EditorFor(x => x.Minute)
                    @Html.ValidationMessageFor(x => x.Minute)
                </td>
            </tr>
            
            <tr>
                <td>
                    @Html.LabelFor(x => x.MissedMatchCount)
                </td>

                <td>
                    @Html.EditorFor(x => x.MissedMatchCount)
                    @Html.ValidationMessageFor(x => x.MissedMatchCount)
                </td>
            </tr>
            
            <tr>
                <td>
                    @Html.LabelFor(x => x.RecoveryDate)
                </td>

                <td>
                    @Html.EditorFor(x => x.RecoveryDate)
                    @Html.ValidationMessageFor(x => x.RecoveryDate)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Save" />
                </td>
            </tr>

        </table>
    }



</div>