﻿@model Sport.Web.ResultTracking.Models.FootballOwnGoalViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

@*@RenderSection("scripts", required: false)*@

<div id="addEvent">
    <h2>Add own goal</h2>

  
    @using (Ajax.BeginForm("SaveOwnGoal", "Fixture", new AjaxOptions
    {
        UpdateTargetId = "result",
        OnSuccess = "SaveFixtureEventSuccess()"
    }))
    {
        <table>
            <tr>
                <td>
                    @Html.HiddenFor(x => x.FixtureParticipantId)
                    @Html.LabelFor(x => x.PlayerId)
                </td>

                <td>
                    @Html.DropDownListFor(x => x.PlayerId, Model.Players)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(x => x.Minute)
                </td>

                <td>
                    @Html.EditorFor(x => x.Minute)
                    @Html.ValidationMessageFor(x => x.Minute)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.AssistantId)
                </td>

                <td>
                    @Html.DropDownListFor(x => x.AssistantId, Model.AssistantPlayers)
                </td>
            </tr>
           
            <tr>
                <td colspan="2">
                    <input type="submit" value="Save" />
                </td>
            </tr>

        </table>
    }



</div>