﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/Custom/Events.js"></script>
}

@model Sport.Web.ResultTracking.Models.FixtureEditViewModel
<h2>Fixture Edit</h2>


<div id="result"></div>
<table class="table">
    <tr>
        <th class="homeTeam">
            HomeTeam <br />
            @Html.ActionLink("Add goal", "AddGoal", "Fixture", new { participantId = @Model.HomeParticipantId }, new { @class = "dialog" }) <br />
            @Html.ActionLink("Add yellow card", "AddYellowCard", "Fixture", new { participantId = @Model.HomeParticipantId }, new { @class = "dialog" }) <br />
            @Html.ActionLink("Add red card", "AddRedCard", "Fixture", new { participantId = @Model.HomeParticipantId }, new { @class = "dialog" }) <br />
            @Html.ActionLink("Add missed penalty", "AddMissedPenalty", "Fixture", new { participantId = @Model.HomeParticipantId }, new { @class = "dialog" }) <br />
            @Html.ActionLink("Add injury", "AddInjury", "Fixture", new { participantId = @Model.HomeParticipantId }, new { @class = "dialog" }) <br />
            @Html.ActionLink("Add own goal", "AddOwnGoal", "Fixture", new { participantId = @Model.HomeParticipantId }, new { @class = "dialog" }) <br />
        </th>
        <th colspan="2" class="score">
            Score
        </th>
        <th>
            AwayTeam <br />
            @Html.ActionLink("Add goal", "AddGoal", "Fixture", new { participantId = @Model.AwayParticipantId }, new { @class = "dialog" }) <br />
            @Html.ActionLink("Add yellow card", "AddYellowCard", "Fixture", new { participantId = @Model.AwayParticipantId }, new { @class = "dialog" }) <br />
            @Html.ActionLink("Add red card", "AddRedCard", "Fixture", new { participantId = @Model.AwayParticipantId }, new { @class = "dialog" }) <br />
            @Html.ActionLink("Add missed penalty", "AddMissedPenalty", "Fixture", new { participantId = @Model.AwayParticipantId }, new { @class = "dialog" }) <br />
            @Html.ActionLink("Add injury", "AddInjury", "Fixture", new { participantId = @Model.AwayParticipantId }, new { @class = "dialog" }) <br />
            @Html.ActionLink("Add own goal", "AddOwnGoal", "Fixture", new { participantId = @Model.AwayParticipantId }, new { @class = "dialog" }) <br />
        </th>
        <td>
            
        </td>
    </tr>
    
    @foreach (var item in Model.AllEvents)
    {
        @Html.EditorFor(x => item)
    }
</table>

@Html.ActionLink("Finish match", "FinishMatch", "Fixture", new { fixtureId = @Model.FixtureId }, new {@class="finishMatch"})