﻿@*@using @Sport.Web.ResultTracking.Models*@
@{
    ViewBag.Title = "Index";
}

@model Sport.Web.ResultTracking.Models.FixturesViewModel
<h2>@Model.Group</h2>


<table class="table">
    <tr>
        <th class="homeTeam">
            HomeTeam
        </th>
        <th colspan="2" class="score">
            Score
        </th>
        <th>
            AwayTeam
        </th>
        <td>
            
        </td>
    </tr>
    
    @foreach (var item in Model.AllEvents)
    {
        @Html.DisplayFor(x => item)
        
        @*<tr>
            <td>
                @item.HomeTeam
            </td>
       
            <td>
                @item.Score
            </td>
       
            <td>
                @item.AwayTeam
            </td>
        </tr>*@
    }
    

</table>


