﻿@model Sport.Configuration.Models.Team

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Team</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Chemistry, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Chemistry)
                @Html.ValidationMessageFor(model => model.Chemistry)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OverallRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OverallRating)
                @Html.ValidationMessageFor(model => model.OverallRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeagueId, "LeagueId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LeagueId", String.Empty)
                @Html.ValidationMessageFor(model => model.LeagueId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MigrationId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MigrationId)
                @Html.ValidationMessageFor(model => model.MigrationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZoneId, "ZoneId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ZoneId", String.Empty)
                @Html.ValidationMessageFor(model => model.ZoneId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
