﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Custom  */

table td.homeTeam {
    text-align: right;
}

table td {
    padding: 5px;
    /*border: solid 1px #e8eef4;*/
}

    table td.score {
        text-align: center;
    }

    table td.homePlayer {
        text-align: right;
    }

table th.score {
    text-align: center;
}

table th.homeTeam {
    text-align: right;
}

.table {
    width: auto;
}

img.LowForm {
    content:url("/Content/Images/out.gif")
}

img.LowMiddleForm {
    content:url("/Content/Images/low-middle.png")
}

img.YellowCard {
    content:url("/Content/Images/yc.gif")
}

img.RedCard {
    content:url("/Content/Images/rc.gif")
}

img.Injury {
    content:url("/Content/Images/injury.gif")
}

img.FootballGoal {
    content:url("/Content/Images/goal.gif")
}

img.FootballOwnGoal {
    content: url("/Content/Images/og.gif");
}

img.FootballInjury {
    content: url("/Content/Images/injury.gif");
}

img.FootballYellowCard {
    content: url("/Content/Images/yc.gif");
}

img.FootballRedCard {
    content: url("/Content/Images/rc.gif");
}

img.FootballMissedPenalt {
    content: url("/Content/Images/unk.gif");
}

.fixtureHeader {
    background-color:lightblue;
}