﻿@model Sport.Web.ResultTracking.Models.EventViewModel


<tr>@Html.HiddenFor(x => x.EventId)
   
    <td class="homePlayer" >
        <img class="@Model.HomeType" />  @Model.HomeTeam
    </td>
    <td colspan="2" class="Score">
        @Model.Score
    </td>

    <td class="awayPlayer">
        <img class="@Model.AwayType" /> @Model.AwayTeam
    </td>
</tr>


