﻿@model Sport.Web.ResultTracking.Models.PlayerOutOfFixtureViewModel



<tr>
    <td class="homePlayer" colspan ="2">
        <img class="@Model.HomeReason" />  @Model.HomeTeam
    </td>

    <td class="awayPlayer" colspan="2">
        <img class="@Model.AwayReason" /> @Model.AwayTeam
    </td>
</tr>


