﻿@model IEnumerable<Sport.Domain.Models.Champ>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChampSeason.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zone.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MigrationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YellowsToMissNextMatch)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChampSeason.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zone.Name)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Name)*@
            @Html.ActionLink(item.Name, "Index", "Stage", new { champId = item.Id.ToString() }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MigrationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YellowsToMissNextMatch)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
