﻿@model Sport.Web.ResultTracking.Models.EventViewModel

<tr>
    <td class="homePlayer" >
       <img class="@Model.HomeType" />  @Model.HomeTeam
    </td>
    <td colspan="2" class="Score">
        @Model.Score
    </td>

    <td class="awayPlayer">
        <img class="@Model.AwayType" /> @Model.AwayTeam
    </td>
    
    <td>
        @*@Html.ActionLink("Delete", "DeleteEvent", "Fixture", new {eventId = @Model.EventId}, null)*@
        @Ajax.ActionLink(
    "Delete",
    "DeleteEvent",
             "Fixture",
             new { eventId = @Model.EventId },
    new AjaxOptions
    {
        //Confirm = "Delete?",
        //HttpMethod = "POST",
        //OnSuccess = "DeleteEventSuccess"
    },
                      new { @class = "deleteLink" }
)
    </td>
</tr>


