﻿@model Sport.Web.ResultTracking.Models.ResultViewModel
    
<tr class="fixtureHeader">
    <td class="homeTeam">
        @Model.HomeTeam
    </td>

    <td class="score" colspan="2">
        @Model.Score
    </td>

    <td class="awayTeam">
        @Model.AwayTeam
    </td>
    
    <td>
        
    </td>
</tr>

